<br>
<h1 class="text-white mt-5">Biolink</h1>
<p class="ml-2 mr-2 text-white" align="justify">Un producto revolucionario que redefinirá la forma en que interactuamos con la tecnología.
    Permítanme presentarles Biolink, la cúspide de la innovación tecnológica.
    Imaginen un mundo en el que los seres humanos puedan conectar sin esfuerzo aplicaciones digitales a través de un pequeño chip intradérmico incrustado en la palma de sus manos.
    Con Biolink, estamos dando un gran paso hacia una integración fluida entre humanos y tecnología. Han quedado atrás los días de cargar dispositivos voluminosos o lidiar con pantallas; ahora, el poder está literalmente en la punta de tus dedos. <br> <br> Esta tecnología revolucionaria te permite visualizar y manipular aplicaciones directamente en la palma de tu mano. 
    Un simple toque o gesto abrirá un mundo de posibilidades, donde podrás acceder a información, comunicarte y controlar tu mundo digital con una facilidad sin igual.
    Biolink no solo se trata de comodidad; representa una nueva era de interacción entre el hombre y la computadora, fomentando una relación simbiótica entre ambos. Abrazar esta tecnología significa abrazar el futuro, donde la innovación no tiene límites.

Pero con un gran poder viene una gran responsabilidad. <br><br> Mientras embarcamos en este viaje tecnológico, debemos asegurarnos de que permanezca como una fuerza positiva, promoviendo la inclusión, la privacidad y la seguridad. Nuestro compromiso es construir un mundo donde Biolink mejore nuestras vidas mientras preserva nuestros valores.

Así que, abracemos el futuro con los brazos abiertos. Biolink no es solo un producto; es el catalizador de una revolución tecnológica, transformando nuestra experiencia del mundo. Únanse a nosotros mientras emprendemos este viaje
</p>

<div class="container-fluid py-4">
    <div class="row justify-content-center ">


        <div class="proyecto col-lg-4 col-md-6 col-sm-12">


            <img src="images/biolink1.jpeg" alt="" class="img-fluid">

            <div class="overlay">
                <p>Model LTA-480Pro</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>


        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/biolink2.jpeg" alt="" class="img-fluid">
            <div class="overlay">
                <p>Model LTA-360</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/biolink3.jpeg" alt=" " class="img-fluid">
            <div class="overlay">
                <p>Model LTA-360S</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">


            <img src="images/biolink4.jpeg" alt="" class="img-fluid">

            <div class="overlay">
                <p>Model LTA-480Pro</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>


        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/biolink5.jpeg" alt="" class="img-fluid">
            <div class="overlay">
                <p>Model LTA-360</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/biolink6.jpeg" alt=" " class="img-fluid">
            <div class="overlay">
                <p>Model LTA-360S</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>



    </div>
    <!--cierre row-->
</div>
<!--cierre div contenedor-->

<section class="video-section mt-5 d-flex justify-content-center">
    
    <video autoplay muted loop>
    <source src="images/apps.mp4">
    </video>
</section>




<section class="planes">
<h2 align="center" class="text-white mt-5">Suscripciones</h2>
<br><br>
    <div class="contenedor">
        <div class="tabla">
            <h2>Básico </h2>
            <div class="icono">
                <i class="bi bi-wallet"></i>
            </div>
            <br>
            <h3>$1000</h3>
            <p>Primera versión de Biolink</p>
            <a href="" class="boton">Suscríbete</a>
        </div>
        <div class="tabla">
            <h2>Premium</h2>
            <div class="icono">
                <i class="bi bi-wallet"></i>
            </div> <br>

            <h3>$4000</h3>
            <p>Segunda versión con apps exclusivas</p>
            <a href="" class="boton">Suscríbete</a>
        </div>
        

    </div>




</section>